DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password_here	#본인의 DB 비밀번호
DB_NAME=LIVO				#DB의 이름
DB_PORT=3306

SMTP_HOST=smtp.naver.com
SMTP_PORT=587
SMTP_USER=your_naver_email@naver.com		#인증 메일을 송신할 이메일	
SMTP_PASSWORD=your_naver_app_password		#네이버 앱 비밀번호 (계정 비밀번호랑 다릅니다.)
SMTP_FROM=your_naver_email@naver.com
SMTP_USE_TLS=True
SMTP_USE_SSL=False

FLASK_ENV=development
FLASK_PORT=5000
DEBUG=True